# This is Git's per-user configuration file.
[user]
        name = Francisco Cidade
        email = franciscocidadehomemjunior@gmail.com

[core]
        editor = vim

[alias]
        c = !git commit -m
        ch = !git checkout
        nb = !git checkout -b
        ca = !git commit --amend --edit
        s = !git status -s
        l = !git log --pretty=format:'%C(blue)%h%d %C(white)%s  - %C(red)%cn, %cr'
        a = !git add
        pl = !git pull
        ps = !git push
        r = !git rebase
        ri = !git rebase -i
        t = !git tag

[init]
        defaultBranch = main
